
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="show-dialog" type="button" class="mdl-button">About</button>
		<dialog class="mdl-dialog">
			<h4 class="mdl-dialog__title">About</h4>
			<div class="mdl-dialog__content">
				<p>
				Grademate is about having fun, and is made with love. ( ͡° ͜ʖ ͡°)
				<br>Authors:
				 <ul>
		<li>Brian</li>
		<li>Josh</li>
		<li>Ilia</li>
			<li>Robert</li>
				<li>Andy</li>
					<li>Danielius</li>
						<li>Stephen</li>
							<li>Kamil</li>
						</ul>
				</p>
			</div>
			<div class="mdl-dialog__actions">
				<button type="button" class="mdl-button close">Cool</button>
			</div>
		</dialog>
			<script src="/static/javascript/dialog-polyfill.js"></script>
		<script>
			var dialog = document.querySelector('dialog');
			var showDialogButton = document.querySelector('#show-dialog');
			if (! dialog.showModal) {
				dialogPolyfill.registerDialog(dialog);
			}
			showDialogButton.addEventListener('click', function() {
				dialog.showModal();
			});
			dialog.querySelector('.close').addEventListener('click', function() {
				dialog.close();
			});
		</script>
		
