{% extends 'headerwithbanner.html' %}

{% load static %}
{% block stuffbelowbanner %}

<!--- ErrorMessage for already registered user --->
<dialog class="mdl-dialog" id="errormessage">
	<h4 class="mdl-dialog__title">Error!</h4>
	<div class="mdl-dialog__content">
<p>Username and/or password incorrect. Please try again.</p>
	</div>
	<div class="mdl-dialog__actions">
		<button type="button" class="mdl-button close">Cool</button>
	</div>
</dialog>
	<script src="/static/javascript/dialog-polyfill.js"></script>
<script>
	var error = document.querySelector('#errormessage');
	var showErrorButton = document.querySelector('#submit');
	if (! error.showModal) {
		dialogPolyfill.registerDialog(error);
	}
	error.querySelector('.close').addEventListener('click', function() {
		error.close();
	});
</script>

<!--- Register PHP --->
<div class="mdl-layout mdl-js-layout"
<main class="mdl-layout__content">
	<div class="page-content">
		<style>
    .mdl-grid.center-items {
      justify-content: center;
    }
</style>

<!--- Register Form --->
<div class="mdl-grid center-items">

	{% block formcontent %}
{% endblock %}
		</div>
		</div>
		</div>



</main>
</div>
<!-- _________________________________ footer section________________________-->
	</body>
</html>
{% endblock %}
