{% extends 'header.html' %}
{% block stuffbelowheader %}
{% load static %}

<div class="mdl-grid center-items">
  <div class="mdl-cell mdl-cell--1-col">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onClick="location.href='/mygames/'">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">arrow_back</i>
      Back</button>
  </div>
  <div class="mdl-cell mdl-cell--10-col">
    <center>
    <h3>Create a Game</h3>
  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>

	<center>
		<form action="/creategame/" method="post">
      {% csrf_token %}
      {% for field in form %}
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="name">
        {{ field }}
				<label class="mdl-textfield__label" for="name">Name</label>

			</div>
      {% endfor %}
<div>
      <!-- Raised button with ripple -->
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" name="place">
        Create a game
      </button></div>
    </form></center>




<!-- _________________________________ footer section________________________-->
</body>

</html>
{% endblock %}
