{% extends 'standardlayout.html' %}
{% block content %}
{% load static %}

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--4-col"></div>
	<div class="mdl-cell mdl-cell--4-col">
<center><h3>Create a group</h3>
		<form action="creategroup.html" method="post">
      {% csrf_token %}
      {% for field in form %}
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="sample3">
				<label class="mdl-textfield__label" for="sample3">{{ field.label }}</label>
			</div>
      {% endfor %}

      <!-- Raised button with ripple -->
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" name="place">
        Create a group
      </button>
    </form></center>


</div>
</div>

<style>
	.mdl-cell {
		display: inline-grid;
		align-items: center;
		justify-content: center;
	}
</style>
<!-- _________________________________ footer section________________________-->
</body>

</html>
{% endblock %}
