{% extends 'header.html' %}
{% block stuffbelowheader %}
{% load static %}
<!-- select exam -->
<div class="mdl-grid center-items">
  <div class="mdl-cell mdl-cell--3-col"> <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onClick="location.href='/game/{{ group }}/'">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">arrow_back</i>
      {{ group }}</button></div>
  <div class="mdl-cell mdl-cell--6-col">

    <h1 style="color: white;">
      <center>Enter Your Exam Marks</center>
    </h1>
  </div>
  <div class="mdl-cell mdl-cell--3-col"></div>
</div>
<center>
  <form method="post" action="/game/{{ group }}/entermarks/">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
      {{ EnterMarksForm.exam }}
      <input type="hidden" value="" name="chooseexam">
      <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
      <label for="chooseexam" class="mdl-textfield__label">Exam</label>
      <ul for="chooseexam" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" style="max-height: 200px; overflow-x: hidden; overflow-y: auto;">
        {% for examchoice in EnterMarksForm.fields.exam.queryset %}
        <li class="mdl-menu__item" value="">{{ examchoice }}</li>
        {% endfor %}
      </ul>
    </div>

    <br>
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--2-col mdl-textfield--floating-label">
      {{ EnterMarksForm.mark }}
      <label class="mdl-textfield__label " for="mark">Mark</label>
    </div>

    </div>
    <center>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" id="submit">
        Submit
      </button>
    </center>
    <br>
  </form>
</center>


<center>
  <div class="demo-charts mdl-cell mdl-cell--3-col" style="position: relative;">
    <h3 style="color: white;">Your Entered Results</h3>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: fill-parent;">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Exam</th>
          <th class="mdl-data-table__cell--non-numeric">Mark</th>
        </tr>
      </thead>
      <tbody>

        <form method="post" action="/game/{{ group }}/">
          {% csrf_token %}
          {% if userResultsList %}
          {% for result in userResultsList %}
          <tr>
            <td class="mdl-data-table__cell--non-numeric">{{ result.exam }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ result.mark }}</td>
          </tr>
          {% endfor %}

          {% else %}
          <tr>
            <td><p style="color: white;">You have not entered any marks yet.<p></td>
          </tr>
          {% endif %}
      </tbody>
    </table>

    <br>
  </div>
</center>


<style>
  .markEntry {
    position: relative;
    top: 25%;
  }
</style>

{% if error %}

<dialog class="mdl-dialog" id="errormessage">
  <h4 class="mdl-dialog__title">Error!</h4>
  <div class="mdl-dialog__content">
    <p>{{ error }}</p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button close">Close</button>
  </div>
</dialog>
<script src="javascript/dialog-polyfill.js"></script>
<script>
  var error = document.querySelector('#errormessage');
  var showErrorButton = document.querySelector('#test');
  if (!error.showModal) {
    dialogPolyfill.registerDialog(error);
  }
  error.querySelector('.close').addEventListener('click', function() {
    error.close();
  });
</script>
<script>
  error.showModal()
</script>

{% endif %}


</body>

</html>
{% endblock %}
