{% extends 'header.html' %}
{% block stuffbelowheader %}
{% load static %}


</style>
  <div class="mdl-grid center-items">

    <div class="mdl-cell mdl-cell--3-col">
      <span class="mdl-chip mdl-chip--contact" style="padding-right: 50px; padding-top: 5px; ">
        <img class="mdl-chip__contact" src="/static/images/coins.png"></img>
        <span class="mdl-chip__text">{{ credits }}</span>
      </span>
      <br>
      <br>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onClick="location.href='/mygroups/'">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">arrow_back</i>
        Back to my groups</button>
        <br>
        <br>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onClick="location.href='entermarks'">
          <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">add</i> Enter Marks</button>
          {% if admin %}
          <br>
          <br>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onClick="location.href='managegroup'">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">settings</i> Manage Group</button>
            {% endif %}
          </div>

          <div class="mdl-cell mdl-cell--3-col">
            <center>
              <h3 style="color: white;"> Make Prediction</h3>
              <form method="post" action="/game/{{ group }}/">
                {% csrf_token %}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                  {{ betForm.exam }}
                  <input type="hidden" value="" name="chooseexam" style="background-color: white;">
                  <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                  <label for="chooseexam" class="mdl-textfield__label">Exam</label>
                  <ul for="chooseexam" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" style="max-height: 200px; overflow-x: hidden; overflow-y: auto;">
                    {% for examchoice in betForm.fields.exam.queryset %}
                    <li class="mdl-menu__item" value="">{{ examchoice }}</li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                  {{ betForm.target }}
                  <input type="hidden" value="" name="choosetarget">
                  <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                  <label for="choosetarget" class="mdl-textfield__label">Target</label>
                  <ul for="choosetarget" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" style="max-height: 200px; overflow-x: hidden; overflow-y: auto;">
                    {% for target in betForm.fields.target.queryset %}
                    <li class="mdl-menu__item" value="{{ target }}">{{ target }}</li>
                    {% endfor %}
                  </ul>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col mdl-textfield--floating-label">
                  {{ betForm.guess_mark }}
                  <label class="mdl-textfield__label " for="newmark">Mark</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-coExamStatsl mdl-textfield--floating-label">
                  {{ betForm.guess_credits }}
                  <label class="mdl-textfield__label " for="newmark">Credits</label>
                </div>

                <div class="mdl-cell mdl-cell--2-col"></div>


                <center><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" name="place">
                  Make Prediction
                </button></center>
              </form>
            </center>
          </div>


          <div class="demo-charts mdl-cell mdl-cell--3-col" style="position: relative;">
            <center>
              <h3 style="color: white;">Change Prediction</h3>

              <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: fill-parent;">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Bet ID</th>
                    <th class="mdl-data-table__cell--non-numeric">Exam</th>
                    <th class="mdl-data-table__cell--non-numeric">Member</th>
                    <th>Prediction</th>
                    <th>Credits</th>
                  </tr>
                </thead>
                <tbody>

                  <form method="post" action="/game/{{ group }}/">
                    {% csrf_token %}
                    {% if yourBetsList %}
                    {% for bet in yourBetsList %}
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">{{ bet }}</td>
                      <td class="mdl-data-table__cell--non-numeric">{{ bet.exam }}</td>
                      <td class="mdl-data-table__cell--non-numeric">{{ bet.target }}</td>
                      <td>{{ bet.guess_mark }}</td>
                      <td>{{ bet.guess_credits }}</td>
                    </tr>
                    {% endfor %}

                    {% else %}
                    <tr><p style="color: white;">You have not made any predictions yet.<p></tr>
                    {% endif %}
                  </tbody>
                </table>

                <br>
                <div class="mdl-grid">
                  <div class="mdl-cell mdl-cell--2-col"></div>


                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select mdl-cell mdl-cell--4-col">
                    {{ updatebetform.bet }}
                    <input type="hidden" value="" name="updatebet">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="updatebet" class="mdl-textfield__label">Bet ID</label>
                    <ul for="updatebet" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" style="overflow-y: auto; overflow-x: hidden; max-height: 288px">
                      {% for bet in updatebetform.fields.bet.queryset %}
                      <li class="mdl-menu__item" value="{{ bet }}">{{ bet }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col mdl-textfield--floating-label">
                    {{ updatebetform.mark }}
                    <label class="mdl-textfield__label " for="newmark">New Mark</label>
                  </div>
                  <div class="mdl-cell mdl-cell--2-col"></div>


                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" name="update">
                  Update Your Prediction
                </button>
              </div>
              <br>
              <!-- Raised button with ripple -->
              <br>
            </form>
          </center>

        </div>
        <div class="mdl-cell mdl-cell--3-col"></div>

      </div>


      <div class="mdl-grid center-items">
        <div class="mdl-cell mdl-cell--3-col"></div>
        <div class="mdl-cell mdl-cell--3-col" style="position: relative;">
          <center>
            <h3 style="color: white;">Current Game Stats</h3>
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: fill-parent;">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Exam</th>
                  <th>Average Bet</th>
                  <th>No of Bets</th>
                </tr>
              </thead>
              <tbody>
                {% csrf_token %}
                {% if betsListOnYou %}
                {% for element in betsListOnYou %}
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">{{ element.exam_name }}</td>
                  <td>{{ element.average_bet }}</td>
                  <td>{{ element.no_of_bets }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><p style="color: white;">No one has made any predictions for you yet.<p></tr>
                {% endif %}

              </tbody>
            </table>
          </center>
        </div>
        <div class="demo-charts mdl-cell mdl-cell--3-col" style="position: relative;">
          <center>
            <h3 style="color: white;">Leaderboard</h3>
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: fill-parent;">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Position</th>
                  <th class="mdl-data-table__cell--non-numeric">Username</th>
                  <th class="mdl-data-table__cell--non-numeric">Credits</th>
                  <th class="mdl-data-table__cell--non-numeric">Number of Wins</th>
                </tr>
              </thead>
              <tbody>
                {% csrf_token %}
                {% if leaderBoard %}
                {% for oneLeaderBoardColumn in leaderBoard %}
                <tr>
                  <td class="mdl-data-table__cell--non-numeric"> {{oneLeaderBoardColumn.position}}</td>
                  <td class="mdl-data-table__cell--non-numeric"> {{oneLeaderBoardColumn.user_name}}</td>
                  <td class="mdl-data-table__cell--non-numeric"> {{oneLeaderBoardColumn.credits}}</td>
                  <td class="mdl-data-table__cell--non-numeric"> {{oneLeaderBoardColumn.noOfWins}}</td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </center>
        </div>
        <div class="mdl-cell mdl-cell--3-col">
        </div>
      </div>

      <style type="text/css">
      .mdl-cell {
        display: inline-grid;
        justify-content: center;
        /* align horizontal */
        align-items: center;
        /* align vertical */
      }
      </style>
      <!-- footer -->


    </div>

    {% if error %}

    <dialog class="mdl-dialog" id="errormessage">
      <h4 class="mdl-dialog__title">Error!</h4>
      <div class="mdl-dialog__content">
        <p>{{ error }}</p>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Close</button>
      </div>
    </dialog>
    <script src="javascript/dialog-polyfill.js"></script>
    <script>
    var error = document.querySelector('#errormessage');
    var showErrorButton = document.querySelector('#test');
    if (!error.showModal) {
      dialogPolyfill.registerDialog(error);
    }
    error.querySelector('.close').addEventListener('click', function() {
      error.close();
    });
    </script>
    <script>
    error.showModal()
    </script>

    {% endif %}

  </body>

  </html>
  {% endblock %}
