{% extends 'header.html' %}
{% block stuffbelowheader %}
{% load static %}

<body>
  <div class="mdl-grid center-items">
        <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--3-col">
      <center><h3> Place Bet</h3>
            <form method="post" action="game.html">
              {% csrf_token %}
              {% for field in betForm %}
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label class="mdl-textfield__label">{{ field.label }}</label>
                {{ field }}
              </div>
              <br>
              {% endfor %}
              <br>
              <center><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" id="submit">
                Place a bet
              </button></center></form>
</center>
    </div>

            <div class="demo-charts mdl-cell mdl-cell--3-col" style="position: relative;">
                  <center><h3>Change Bet</h3>
              <div>
                  </div><div>
                  </div><div>
                  </div><div>
                  </div><table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: fill-parent;">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Exam</th>
                    <th>Member</th>
                    <th>Bet Field</th>
                  </tr>
                </thead>
                <tbody>

                  <form method="post" action="game.html">
                  {% csrf_token %}
                  {% if yourBetsList %}
                  {% for label in yourBetsList %}
                  {% for form in updateBetForm %}
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{ label.exam }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ label.target_id }}</td>
                    <td>
                      <div style="display: inline;">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" id="sample1" type="text">
                            <label class="mdl-textfield__label" for="sample1">{{label.guess_mark}}{{ form.label }}</label>
                          </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                  {% endfor %}
                  {% else %}
                  <tr>You have not placed any bets yet.</tr>
                  {% endif %}
                </tbody>
              </table>
              <!-- Raised button with ripple -->
              <br>
              <center><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" id="submit">
                Update your bets
              </button></center></form>
            </center>

            </div>
            <div class="mdl-cell mdl-cell--3-col"></div>

</div>


<div class="mdl-grid center-items">
    <div class="mdl-cell mdl-cell--3-col"></div>
            <div class="mdl-cell mdl-cell--3-col" style="position: relative;">
                          <center><h3>Current Game Stats</h3>
              <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: fill-parent;">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Exam</th>
                    <th>Average Bet</th>
                    <th>No of Bets</th>
                  </tr>
                </thead>
                <tbody>
                  {% csrf_token %}
                  {% if betsListOnYou %}
                  {% for element in betsListOnYou %}
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{ element.exam }}</td>
                    <td>{{ element.average_bet }}</td>
                    <td>{{ element.no_of_bets }}</td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>No one has placed bet on you</tr>
                  {% endif %}
                  <!-- ORIGINAL BETS ON YOU TABLE
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> Java</td>
                    <td>53.7</td>
                    <td>14</td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> Java</td>
                    <td>53.7</td>
                    <td>14</td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> Java</td>
                    <td>53.7</td>
                    <td>14</td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> Java</td>
                    <td>53.7</td>
                    <td>14</td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> Java</td>
                    <td>53.7</td>
                    <td>14</td>
                  </tr>
                ORIGINAL BETS ON YOU TABLE-->
                </tbody>
              </table>
              </center>
            </div>
            <div class="demo-charts mdl-cell mdl-cell--3-col" style="position: relative;">
                          <center><h3>Leaderboard</h3></center>
              <p>Updated at the end of each season.</p>
              <center>
              <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: fill-parent;">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">User</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> Username/Name</td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> Username/Name</td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> Username/Name</td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> Username/Name</td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> Username/Name</td>
                  </tr>

                </tbody>
              </table>
            </center>
            </div>
                            <div class="mdl-cell mdl-cell--3-col"></div>
          </div>

        <style type="text/css">
        .mdl-cell {
          display: inline-grid;
          justify-content: center; /* align horizontal */
          align-items: center; /* align vertical */
        }
        </style>
        <!-- footer -->


      </div>



</body></html>
  {% endblock %}
