{% extends 'header.html' %}
{% block stuffbelowheader %}
{% load static %}

<!-- select exam -->
<br>
<br>
<br>


<h1 style="top: 20%; position: relative;"><center>Join Group</center></h1>


<div class="markEntry" style="justify-content: center; align-items: center;  display: grid; ">
    <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Group Name</label>
        </div>
      </form>



      <form action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="sample3">
            <label class="mdl-textfield__label" for="sample3">Group ID</label>
          </div>
        </form>


<!-- Raised button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
  Join
</button>

</div>
 <style>.markEntry{
  position: relative;
  top: 25%;
  }</style>






	</body>
</html>
{% endblock %}
