{% extends 'header.html' %}
{% block stuffbelowheader %}
{% load static %}

<div class="mdl-grid center-items">
  <div class="mdl-cell mdl-cell--1-col">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onClick="location.href='/mygames/'">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">arrow_back</i>
      Back</button>
  </div>
  <div class="mdl-cell mdl-cell--10-col">
    <center>
      <h3>Join Game</h3>
  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>

    {% if form %}
    <form method="post" action="/joingame/"><center>
        {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
{{ form.group_name }}
      <label class="mdl-textfield__label" for="groupname">Group Name</label></div>
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
{{ form.group_id }}
        <label class="mdl-textfield__label" for="groupid">Group ID</label></div>
        <br>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" id="submit">
        Join Game
        </button></center></form>
    {% endif %}


</div>
<style>
  .markEntry {
    position: relative;
    top: 25%;
  }
</style>


{% block errorcontent %}
{% endblock %}



</body>

</html>
{% endblock %}
