{% extends 'standardlayout.html' %}
{% block content %}
{% load static %}

<!-- select exam -->

<div class="markEntry">
  <h1>
    <center>Join Group</center>
  </h1>

    {% if form %}
    <form method="post" action="/joingame/"><center>
        {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
{{ form.group_name }}
      <label class="mdl-textfield__label" for="groupname">Group Name</label></div>
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
{{ form.group_id }}
        <label class="mdl-textfield__label" for="groupid">Group ID</label></div>
        <br>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" id="submit">
        Join
        </button></center></form>
    {% endif %}


</div>
<style>
  .markEntry {
    position: relative;
    top: 25%;
  }
</style>


{% block errorcontent %}
{% endblock %}



</body>

</html>
{% endblock %}
