{% extends 'header.html' %}
{% block stuffbelowheader %}
{% load static %}
<!-- ADD EXAM TO GROUP -->
<div class="mdl-grid center-items">
  <div class="mdl-cell mdl-cell--1-col">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onClick="location.href='/game/{{ groupName }}/'">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">arrow_back</i>
      {{ groupName }}</button>
  </div>
  <div class="mdl-cell mdl-cell--10-col">
    <center>
      <h3>Group Management</h3>
  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>


<center>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--2-col">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: fill-parent;">
        <th>
          <center>Exams</center>
        </th>
        {% for exam in examlist %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            <center> {{ exam }} </center>
          </td>
        </tr>
        {% endfor %}
      </table>
</div>
<div class="mdl-cell mdl-cell--2-col">
      <form action="/game/{{ groupName }}/managegroup/" method="post">
    {% csrf_token %}
    {% for field in addexam %}

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--8-col">
      {{ field }}
      <label class="mdl-textfield__label" for="cretegroup">{{ field.label }}</label>

    </div>
    {% endfor %}
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" name="addexam">
      Add exam
    </button>
  </form>

  <form action="/game/{{ groupName }}/managegroup/" method="post">
  {% csrf_token %}

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select mdl-cell mdl-cell--8-col">
    {{ deleteexam.exam_name }}
    <input type="hidden" value="" name="removeexam">
    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
    <label for="removeexam" class="mdl-textfield__label">Exam</label>
    <ul for="removeexam" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" style="max-height: 200px; overflow-x: hidden; overflow-y: auto;">
      {% for examchoice in examlist %}
      <li class="mdl-menu__item" value="">{{ examchoice }}</li>
      {% endfor %}
    </ul>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" name="removexam">
  Delete Exam
  </button>
  </form>
</div>
<div class="mdl-cell mdl-cell--4-col"></div>
</div>
</center>
<br>
<center>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--2-col">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: fill-parent;">
           <th>
             <center>Members</center>
           </th>
           {% for member in usernamelist %}
           <tr>
             <td class="mdl-data-table__cell--non-numeric">
               <center> {{ member }} </center>
             </td>
           </tr>
           {% endfor %}
         </table>
</div>
<div class="mdl-cell mdl-cell--2-col">
  <form action="/game/{{ groupName }}/managegroup/" method="post">
    {% csrf_token %}
    {% for field in adduser %}

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--9-col">
      {{ field }}
      <label class="mdl-textfield__label" for="cretegroup">{{ field.label }}</label>

    </div>
    {% endfor %}
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" name="adduser">
      Add user
    </button>
  </form>

<form action="/game/{{ groupName }}/managegroup/" method="post">
{% csrf_token %}

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select mdl-cell mdl-cell--8-col">
  {{ deleteuser.user_name }}
  <input type="hidden" value="" name="removeuser">
  <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
  <label for="removeuser" class="mdl-textfield__label">Username</label>
  <ul for="removeuser" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" style="max-height: 200px; overflow-x: hidden; overflow-y: auto;">
    {% for user in usernamelist %}
    <li class="mdl-menu__item" value="">{{ user }}</li>
    {% endfor %}
  </ul>
</div>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" name="deleteuser">
Delete User
</button>
</form></center>
</div>
<div class="mdl-cell mdl-cell--4-col"></div>

</div>
</center>

{% if error %}

<dialog class="mdl-dialog" id="errormessage">
  <h4 class="mdl-dialog__title">Error!</h4>
  <div class="mdl-dialog__content">
    <p>{{ error }}</p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button close">Close</button>
  </div>
</dialog>
<script src="javascript/dialog-polyfill.js"></script>
<script>
  var error = document.querySelector('#errormessage');
  var showErrorButton = document.querySelector('#test');
  if (!error.showModal) {
    dialogPolyfill.registerDialog(error);
  }
  error.querySelector('.close').addEventListener('click', function() {
    error.close();
  });
</script>
<script>
  error.showModal()
</script>

{% endif %}

{% endblock %}
