{% extends 'standardlayout.html' %}
{% block content %}
{% load static %}

  <!-- #### VANTA JS PLUGIN ### -->
  <!-- A. vanta js assets -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js"></script>
  <script src="https://www.vantajs.com/dist/vanta.waves.min.js"></script>
  <!-- B. Instilize vanta js by #id selector -->
  <body id="vantajs">
    <script>
    VANTA.WAVES({
    el: "#vantajs",
    shininess: 28.00,
    waveHeight: 14.50,
    waveSpeed: 0.95,
    zoom: 0.94
  })
    </script>

  <style>
     .mdl-textfield__label{
      color: #fff;
  }

  .mdl-textfield__input{
      border-bottom: 1px solid #fff;
  }
     .mdl-textfield--floating-label{
      color: #fff;
  }
  </style>
  </div>
  <div
  style="
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width:400px;
  height:400px;
  text-align: center;
  ">
  <form method="post" action="/accountsettings/">
    <center>
      <h2 style="color: white;">Edit Profile</h2>
    </center>
    {% csrf_token %}
    {% for field in form %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label class="mdl-textfield__label">{{ field.label }}</label>
      {{ field }}
    </div>

    <br>
    {% endfor %}
    <br>
    <center><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" id="submit">
        Submit
      </button></center>
  </form>
</div>
  {% block errorcontent %}
  {% endblock %}
  {% endblock %}
