{% extends 'base.html' %}
{% block formcontent %}
{% load static %}
<body>
			<form method="post" action="/login/">
<center><h2>Login</h2></center>
{% csrf_token %}
{% for field in form %}
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<label class="mdl-textfield__label">{{ field.label }}</label>
				{{ field }}
	</div>
<br>
{% endfor %}
<br>
<center><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" id="submit">
	Submit
</button></center>
</form>
{% block errorcontent %}
			{% endblock %}
			{% endblock %}
