{% extends 'header.html' %}
{% block stuffbelowheader %}
{% load static %}

<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <center style="position: relative;">
    <h2>Profile</h2>
  </center>
  <center>
    <div class="demo-card-square mdl-card mdl-shadow--2dp"
    style="position:fixed;
    width:auto;
    height:auto;
    top: 50%;
    left: 50%;
    margin-top: -10%;
    margin-left: -10%;
    ">
    <div class="mdl-card__supporting-text">
      <center>
        <h3> Username: {{ user.username }} </h3>
      </center>
      <center>
        <h3> First Name: {{ user.first_name }} </h3>
      </center>
      <center>
        <h3> Last Name: {{ user.last_name }} </h3>
      </center>
      <center>
        <h3> Email: {{ user.email }} </h3>
      </center>
    </div>
  </div>
</center>

{% endblock %}
