{% extends 'base.html' %}

{% block formcontent %}

{% load static %}

<body>
	<form method="post" action="/register/">
		<center>
			<h2>Register</h2>
		</center>
		{% csrf_token %}
		{% for field in form %}
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<label class="mdl-textfield__label">{{ field.label }}</label>
			{{ field }}
		</div>

		<div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="password1">
			Minimum of 8 characters, must contain letters and/or symbols.
		</div>
		<div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="password2">
			Please type your password again for verification.
		</div>

		<br>
		{% endfor %}
							 <br>
		<center>
		<label class = "mdl-checkbox mdl-js-checkbox" for = "checkbox1">
		                  <input type = "checkbox" id = "checkbox1"
		                     class = "mdl-checkbox__input" unchecked>
		                  <span class = "mdl-checkbox__label">I agree to the <a href="/agreement/">terms and conditions</a>.</span>
		               </label></center>

		<br>
		<center><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" id="submit">
				Submit
			</button></center>
	</form>
{% block errorcontent %}
{% endblock %}
{% endblock %}
