{% extends 'standardlayout.html' %}
{% block content %}
{% load static %}

<body>
      <div class="mdl-grid demo-content">
        <center><h3>My groups</h3></center>
        <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" style="overflow: auto; position: relative;">
          <ul class="demo-list-item mdl-list" style="display: inline-grid;">
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                Group ID              </span>
              </li>
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  Group ID              </span>
                </li>
                <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>
                <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>  <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>  <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>  <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>  <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>  <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>  <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>  <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>
              </ul>
            </div>
          </div>

          <div class="mdl-grid demo-content">
            <center><h3>Bet History</h3></center>
            <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" style="overflow: auto; position: relative;">
              <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width: fill-parent;">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Date</th>
                    <th>Exam</th>
                    <th>Person</th>
                    <th>Bet</th>
                    <th>Result</th>
                    <th>Won</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> 21/03/2020</td>
                    <td>Java</td>
                    <td>Vlad</td>
                    <td>90</td>
                    <td>85</td>
                    <td>false</td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> 21/03/2020</td>
                    <td>Java</td>
                    <td>Vlad</td>
                    <td>90</td>
                    <td>85</td>
                    <td>false</td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> 21/03/2020</td>
                    <td>Java</td>
                    <td>Vlad</td>
                    <td>90</td>
                    <td>85</td>
                    <td>false</td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> 21/03/2020</td>
                    <td>Java</td>
                    <td>Vlad</td>
                    <td>90</td>
                    <td>85</td>
                    <td>false</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="mdl-grid demo-content">
            <center><h3>Charts</h3></center>
            <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" style="display: inline">
              <div class="mdl-grid" id="stats">
                <div class="mdl-cell mdl-cell--3-col">
                  <p>
                    Accuracy:
                  </p>
                  <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1">
                    <use xlink:href="#piechart" mask="url(#piemask)" />
                    <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan dy="-0.07" font-size="0.2">%</tspan></text>
                  </svg>
                </div>
                <div class="mdl-cell mdl-cell--3-col ">
                  <p>
                    No of correct guesses:
                  </p>
                  <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1">
                    <use xlink:href="#piechart" mask="url(#piemask)" />
                    <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">3<tspan dy="-0.07" font-size="0.2"></tspan></text>
                  </svg>
                </div>
                <div class="mdl-cell mdl-cell--3-col ">
                  <p>
                    Best Guess:
                  </p>
                  <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1">
                    <use xlink:href="#piechart" mask="url(#piemask)" />
                    <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">67<tspan dy="-0.07" font-size="0.2">%</tspan></text>
                  </svg>
                </div>
                <div class="mdl-cell mdl-cell--3-col ">
                  <p>
                    Worst Guess:
                  </p>
                  <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1">
                    <use xlink:href="#piechart" mask="url(#piemask)" />
                    <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">99<tspan dy="-0.07" font-size="0.2">%</tspan></text>
                  </svg>
                </div>
              </div>
            </div>
          </div>


        <style type="text/css">
        .mdl-cell {
          display: inline-grid;
          justify-content: center; /* align horizontal */
          align-items: center; /* align vertical */
        }
        </style>
        <!-- footer -->




    </body>
    </html>
    {% endblock %}
