{% extends 'header.html' %}
{% block stuffbelowheader %}
{% load static %}

<body>
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Home</span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="search">
            <label class="mdl-textfield__label" for="search">Enter your query...</label>
          </div>
        </div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
          <li class="mdl-menu__item">About</li>
          <li class="mdl-menu__item">Contact</li>
          <li class="mdl-menu__item">Legal information</li>
        </ul>
      </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
      <header class="demo-drawer-header">
        <img src="images/user.jpg" class="demo-avatar">
        <div class="demo-avatar-dropdown">
          <span>username</span>
          <div class="mdl-layout-spacer"></div>
          <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">arrow_drop_down</i>
            <span class="visuallyhidden">Accounts</span>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
            <li class="mdl-menu__item">hello@example.com</li>
            <li class="mdl-menu__item">info@example.com</li>
            <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
          </ul>
        </div>
      </header>
      <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Join a group</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>Create a bet</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">settings</i>Account Settings</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Statistics</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Log Out</a>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
      </nav>
    </div>


    <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-grid demo-content">
        <center><h3>My groups</h3></center>
        <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" style="overflow: auto; height: 200px; position: relative;">
          <ul class="demo-list-item mdl-list" style="display: inline-grid;">
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                Group ID              </span>
              </li>
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  Group ID              </span>
                </li>
                <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>
                <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>  <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>  <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>  <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>  <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>  <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>  <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>  <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    Group ID
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </main>

        <main class="mdl-layout__content mdl-color--grey-100">
          <div class="mdl-grid demo-content">
            <center><h3>Bet History</h3></center>
            <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" style="overflow: auto; height: 200px; position: relative;">
              <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width: fill-parent;">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Date</th>
                    <th>Exam</th>
                    <th>Person</th>
                    <th>Bet</th>
                    <th>Result</th>
                    <th>Won</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> 21/03/2020</td>
                    <td>Java</td>
                    <td>Vlad</td>
                    <td>90</td>
                    <td>85</td>
                    <td>false</td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> 21/03/2020</td>
                    <td>Java</td>
                    <td>Vlad</td>
                    <td>90</td>
                    <td>85</td>
                    <td>false</td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> 21/03/2020</td>
                    <td>Java</td>
                    <td>Vlad</td>
                    <td>90</td>
                    <td>85</td>
                    <td>false</td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> 21/03/2020</td>
                    <td>Java</td>
                    <td>Vlad</td>
                    <td>90</td>
                    <td>85</td>
                    <td>false</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </main>

        <main class="mdl-layout__content mdl-color--grey-100">
          <div class="mdl-grid demo-content">
            <center><h3>Charts</h3></center>
            <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" style="display: inline">
              <div class="mdl-grid" >
                <div class="mdl-cell mdl-cell--3-col ">
                  <p>
                    Accuracy:
                  </p>
                  <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1">
                    <use xlink:href="#piechart" mask="url(#piemask)" />
                    <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan dy="-0.07" font-size="0.2">%</tspan></text>
                  </svg>
                </div>
                <div class="mdl-cell mdl-cell--3-col ">
                  <p>
                    No of correct guesses:
                  </p>
                  <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1">
                    <use xlink:href="#piechart" mask="url(#piemask)" />
                    <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">3<tspan dy="-0.07" font-size="0.2"></tspan></text>
                  </svg>
                </div>
                <div class="mdl-cell mdl-cell--3-col ">
                  <p>
                    Best Guess:
                  </p>
                  <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1">
                    <use xlink:href="#piechart" mask="url(#piemask)" />
                    <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">67<tspan dy="-0.07" font-size="0.2">%</tspan></text>
                  </svg>
                </div>
                <div class="mdl-cell mdl-cell--3-col ">
                  <p>
                    Worst Guess:
                  </p>
                  <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1">
                    <use xlink:href="#piechart" mask="url(#piemask)" />
                    <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">99<tspan dy="-0.07" font-size="0.2">%</tspan></text>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </main>

        <style type="text/css">
        .mdl-cell {
          display: inline-grid;
          justify-content: center; /* align horizontal */
          align-items: center; /* align vertical */
        }
        </style>
        <!-- footer -->


      </div>

    </body>
    </html>
    {% endblock %}
