{% extends 'header.html' %}
{% block stuffbelowheader %}
{% load static %}
<!--<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
          <div class="demo-charts mdl-cell mdl-cell--6-col">-->

<body>



<div class="mdl-grid center-items">
  <div class="mdl-cell mdl-cell--2-col"></div>
        <div class=" mdl-cell mdl-cell--8-col">
          <div><center><h3>Bet History</h3></center></div>

            <center>  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: fill-parent;">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Exam</th>
                    <th class="mdl-data-table__cell--non-numeric">Person</th>
                    <th class="mdl-data-table__cell--non-numeric">Bet</th>
                    <th class="mdl-data-table__cell--non-numeric">Result</th>
                    <th class="mdl-data-table__cell--non-numeric">Won</th>
                  </tr>
                </thead>

                <tbody style="">

                  {% csrf_token %}
                  {% for oneBetColumn in betObjects %}
                  <tr>
                       <td class="mdl-data-table__cell--non-numeric">{{ oneBetColumn.exam }}</td>
                       <td class="mdl-data-table__cell--non-numeric">{{ oneBetColumn.target_user }}</td>
                       <td>{{ oneBetColumn.guess_mark}}</td>
                       <td class="mdl-data-table__cell--non-numeric">{{ oneBetColumn.resultForTarget}}</td>
                       <td class="mdl-data-table__cell--non-numeric">{{ oneBetColumn.win}}</td>
                  </tr>
                  {% endfor %}

                </tbody>

              </table>

            </center>
            </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>

          <div class="mdl-grid demo-content ">
  <div class="mdl-cell mdl-cell--3-col"></div>
            <div class="demo-charts mdl-cell mdl-cell--6-col mdl-grid" style="display: inline">
              <center><h3>Charts</h3></center>
              <div class="mdl-grid mdl-color--white mdl-shadow--2dp" id="stats">
                <div class="mdl-cell mdl-cell--3-col">
                  <p>
                    Accuracy:
                  </p>
                  <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1">
                    <use xlink:href="#piechart" mask="url(#piemask)" />
                    <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan dy="-0.07" font-size="0.2">%</tspan></text>
                  </svg>
                </div>
                <div class="mdl-cell mdl-cell--3-col ">
                  <p>
                    No of correct guesses:
                  </p>
                  <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1">
                    <use xlink:href="#piechart" mask="url(#piemask)" />
                    <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">3<tspan dy="-0.07" font-size="0.2"></tspan></text>
                  </svg>
                </div>
                <div class="mdl-cell mdl-cell--3-col ">
                  <p>
                    Best Guess:
                  </p>
                  <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1">
                    <use xlink:href="#piechart" mask="url(#piemask)" />
                    <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">67<tspan dy="-0.07" font-size="0.2">%</tspan></text>
                  </svg>
                </div>
                <div class="mdl-cell mdl-cell--3-col ">
                  <p>
                    Worst Guess:
                  </p>
                  <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1">
                    <use xlink:href="#piechart" mask="url(#piemask)" />
                    <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">99<tspan dy="-0.07" font-size="0.2">%</tspan></text>
                  </svg>
                </div>
              </div>
            </div>
              <div class="mdl-cell mdl-cell--3-col"></div>
          </div>

  <style type="text/css">
    .mdl-cell {
      display: inline-grid;
      justify-content: center;
      /* align horizontal */
      align-items: center;
      /* align vertical */
    }
  </style>
  <!-- footer -->




</body>

</html>
{% endblock %}
