{% extends 'headerwithbanner.html' %}

{% load static %}

{% block stuffbelowbanner %}
<body id="agreement">
<!--_________________  how does it work section  _____________________________ -->
<div class="demo-ribbon"></div>
  <main class="demo-main mdl-layout__content">
    <div class="demo-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        <div class="demo-crumbs mdl-color-text--grey-500">
          Grademate &gt; Legal Information &gt; Our Terms and Conditions
        </div>
        <div align="justify">
        <h4 align="center">Data Storage</h4>
          <p>
            Grademate complies with all EU GDPR requirements. We promise to not keep your data any longer than necessary and store it with appropriate security requirements for peace of mind.
            Grademate will not provide your date to third parties without your consent at any time and is committed to communication and transparency with our users.
          </p>
        <h4 align="center">Mission Statement</h4>
          <p>
          The aim of grademate is to have fun with friends and compete to get better grades as such there is strict no tolerance of bullying and other forms of intimidation or any other activities that will negatively impact the experienc of users on this platform.
          </p>
        <h4 align="center">Terms and Conditions</h4>
         <p>
           please read these terms and conditions carefully, and if you are under the age of majority (as defined below) in your jurisdiction, make sure that your parent or legal guardian reads and agrees with this agreement on your behalf. if you do not agree to be bound by all of the terms and conditions, you are not permitted to use or access this website. please print a copy of these terms and conditions for your records.
         </p>

         <p>
           These Terms and Conditions constitute a contract between you and  the GradeMate Web development group, and apply to all users of this Website. In these Terms and Conditions “<b>you</b>” or “<b>your</b>” means any person or entity using this Website, provided that if such person is under 18 years of age or the age of majority in your jurisdiction, whichever is older (the “<b>Age of Majority</b>”), it also includes such person's parent or legal guardian.
         </p>

         <p>
           The use of this website is subject to the following terms of use:
         </p>
         <p>
           This Website is provided by, GradeMate Web development group (collectively referred to herein as “<b>GradeMate</b>” or “<b>we</b>,” “<b>us</b>,” “<b>our</b>” or other similar pronouns). Your use of this Website is subject to the following terms and conditions. These Terms and Conditions form a legally binding agreement that contains important information about our Website and your permitted use of it. Please read and understand these Terms and Conditions and the other information referred to or linked to it prior to using this Website. We reserve the right to change, update, or otherwise modify these Terms and Conditions at any time without notice, so please review these Terms and Conditions every time you use this Website.
         </p>

         <p>
          The use of this website is subject to the following terms of use:
         </p>
         <ul>
            <li>
               The content of the pages of this website is for your general information and use only. It is subject to change without notice.
            </li>
            <li>
               Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
            </li>
            <li>
               Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
            </li>
            <li>
               GradeMate does not make any warranty that the website is free from infection from viruses; you agree to assume all risk related to your use of grademate. websites and services, including but not limited to, the risk of communications with other people or damage to your computer. You are granted a personal, revocable, non-exclusive, limited, non-transferable, non-sublicensable, non-commercial license to access and use the Websites and Services solely for personal entertainment use, provided you completely comply with this Agreement and all other policies and terms on the Websites and Services
            </li>
            <li>
               This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
            </li>
            <li>
               Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offense.
            </li>
            <li>
               From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the other linked website(s).
            </li>
            <li>
               Your use of this website and any dispute arising out of such use of the website is subject to the laws of the United Kingdom.
            </li>
            <li>
               Even though we pre-screen all ads, GradeMate is not responsible for any ads that may appear on our sites via error or malware viruses. We accept no responsibility for any third party advertisements that may appear on GradeMate websites.
            </li>
        </ul>
      </div>

      </div>
    </div>

{% endblock %}
