{% extends 'header.html' %}

{% load static %}
{% block stuffbelowheader %}
<style type="text/css">
  #banner {
    display: inline-block;
    background-image: url("/static/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    color: white;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    bagfilter: blur(5px);
  }
</style>

<div class="mdl-cell mdl-cell--1-col" id="banner">
  <div class="bgimg">
    <h1 style=font-size:200px>Grademate</h1>
    <h3>Improve your grades with your mates<h3>
  </div>

</div>
{% block stuffbelowbanner %}
{% endblock %}

{% endblock %}
