{% extends 'header.html' %}

{% load static %}

{% block stuffbelowheader %}
<body>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
  <div class="demo-charts mdl-cell mdl-cell--6-col" style="position: relative; text-align: center;" id="stats">
    <center><h3>My groups</h3></center>
    <ul class="" style="display: inline-grid; text-align: center;">
      <li class="mdl-list__item">
            <a href="/game/">Test Group</a>
        </li>
        <li class="mdl-list__item">
              Group ID

          </li>
          <li class="mdl-list__item">

              Group ID

          </li>
          <li class="mdl-list__item">

              Group ID

          </li>  <li class="mdl-list__item">

              Group ID

          </li>  <li class="mdl-list__item">

              Group ID

          </li>  <li class="mdl-list__item">

              Group ID

          </li>  <li class="mdl-list__item">

              Group ID

          </li>  <li class="mdl-list__item">

              Group ID

          </li>  <li class="mdl-list__item">

              Group ID

          </li>  <li class="mdl-list__item">

              Group ID

          </li>
        </ul>
      </div>
          <div class="mdl-cell mdl-cell--3-col"></div>
        </div>
  <center><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onClick="window.location='/creategroup/'">
    Create Group
  </button></center>
  <br>
  <center><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onClick="window.location='/joingroup/'">
    Join Group
  </button></center>
</body>

{% endblock %}
