<header class="demo-drawer-header">
    <p>{{ user.username }}</p>
  </header>
  <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
    <a class="mdl-navigation__link" href="/mygroups/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">view_headline</i> My Groups</a>
    <a class="mdl-navigation__link" href="/entermarks/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">add</i> Enter Marks</a>
    <a class="mdl-navigation__link" href="/statistics/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">trending_up</i> Statistics</a>
    <a class="mdl-navigation__link" href="/accountsettings/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">settings</i> Account Settings</a>
    <a class="mdl-navigation__link" href="/logout/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i> Log Out</a>
    <div class="mdl-layout-spacer"></div>
  </nav>
